<!DOCTYPE html>

<html lang="en">
<head>
    <title>Generative.SPB</title>
    <meta property="og:title" content="Up Start Finance"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

        button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Titillium Web;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-scheme-green100);
            background-color: var(--dl-color-scheme-yellow20);

        }
    </style>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            data-tag="font"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
            data-tag="font"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            data-tag="font"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
            data-tag="font"
    />

    <link rel="stylesheet" href="static/styles/style.css"/>
</head>
<body>
<div class="main-div">
    <link href="static/styles/home.css" rel="stylesheet"/>

    <div class="home-container">
        <div class="home-navbar navbar-container">
            <div class="max-width">
                <div class="home-logo">
                    <img
                            alt="image"
                            src="static/styles/public/playground_assets/logo-200h.png"
                            class="home-image"
                    />
                    <span class="brand-Name">GEnerative.spb</span>
                </div>
            </div>
        </div>
        <div class="home-hero hero-container section-container">
            <div class="home-max-width1 max-width">
                <div class="home-content">
                    <span class="home-subtitle">artificial intelligence</span>
                    <h1 class="home-title">
                        <span>Выбери логотип </span>
                        <br class="home-text02"/>
                        <span class="home-text03">сгенерированный нейросетью</span>
                    </h1>
                    <span class="home-description">
                <span>
                  Субъективный взгляд дизайнеров на создание логотипа не всегда
                  соответствует тому, что хотят видеть конечные пользователи. Мы
                  решили эту проблему и сгенерировали нейросетью логотип на
                  основе работ жителей города
                </span>
                <span>.</span>
              </span>
                </div>
                <div class="home-image01">
                    <img
                            alt="image"
                            src="https://images.unsplash.com/photo-1618239915277-dd1539ea70e4?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1fHxzYWludCUyMHBldGVyc2J1cmclMjBibGFjayUyMGFuZCUyMHdoaXRlfGVufDB8fHx8MTY2MjY2MjM0NQ&amp;ixlib=rb-1.2.1&amp;w=600"
                            class="home-hero-image"
                    />
                </div>
            </div>
        </div>
        <div class="home-section section-container">
            <div class="home-max-width2 max-width">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 content">
                            <div class="screen">
                                <img src="../static/styles/public/playground_assets/spb.png" class="img-glide">
                            </div>
                        </div><!--content-->
                    </div><!--row-->
                </div><!--container-->
                <div class="home-content1">
                    <span class="home-text06">Как это работает?</span>
                    <h1 class="home-text07">
                        <span class="home-text08">Более</span>
                        <span class="home-text10">1000</span>
                        <span class="home-text12">надписей от горожан.</span>
                    </h1>
                    <span class="home-text13">
                Мы собрали более 1000 надписей и рисунков от жителей и гостей
                города чтобы искусственный интеллект составил своё уникальное
                представление о нашем городе.
              </span>
                </div>
            </div>
        </div>
        <div class="home-section1 section-container">
            <div class="home-max-width3 max-width">
                <div class="home-content2">
                    <h1 class="home-text14">
                        <span class="home-text15">Выбирай</span>
                        <br/>
                        <span class="home-text17">один из трёх лучших вариантов</span>
                    </h1>
                    <span class="home-text18">
                Мы выбрали три варианта, сгенерированных нейросетью, дальше -
                выбор за тобой!
              </span>
                </div>
                <form class="vote-form" id="voting_form">
                <div class="home-container1">
                    <div class="home-container2">
                        <label class="home-image03">
                            <input type="radio" name="option1" value="1" checked>
                        <img
                                alt="image"
                                src="static/styles/public/playground_assets/logo_5.jpg"
                                loading="eager"
                                class="home-image03"
                        />
                            </label>
                    </div>
                    <div class="home-container3">
                        <label class="home-image04">
                            <input type="radio" name="option1" value="2">
                        <img
                                alt="image"
                                src="static/styles/public/playground_assets/logo_1.jpg"
                                loading="eager"
                                class="home-image04"
                        />
                        </label>
                    </div>
                    <div class="home-container4">
                        <label class="home-image05">
                            <input type="radio" name="option1" value="3">
                        <img
                                alt="image"
                                src="static/styles/public/playground_assets/logo_2.jpg"
                                loading="eager"
                                class="home-image05"
                        />
                            </label>
                    </div>
                </div>
                <div class="home-container9">
                    <button class="home-button button" id="vote-button">
                        <span class="home-text19">
                            <span>Голосовать</span>
                            <br/>
                        </span>
                    </button>
                </div>
                </form>
            </div>

                <img
                        alt="image"
                        src="static/styles/public/playground_assets/black-and-white-night-photography-city-canal-cityscape-842983-pxhere.com-1100h.jpg"
                        class="home-image06"
                />
        </div>
        <div class="home-section2 section-container">
            <div class="home-max-width4 max-width">
                <div class="iframe-holder">
                    <iframe src="https://18923.gradio.app" class="iframe-gradio" id="gradio"></iframe>
                </div>
                <div class="home-content3">
              <span class="home-text22">
                СОЗДАЙ СВОЙ МЕРЧ С САНКТ-ПЕТЕРБУРГОМ
              </span>
                    <div class="home-step">
                        <div class="home-number">
                            <span class="home-text23">1</span>
                        </div>
                        <div class="home-container5">
                            <span class="home-title1">Загрузи свой рисунок</span>
                            <span class="home-text24">
                    Нарисуй и загрузи изображение с рисунком, который выражает
                    твоё отношение к Санкт-Петербургу.
                  </span>
                        </div>
                    </div>
                    <div class="home-step1">
                        <div class="home-number1">
                            <span class="home-text25">2</span>
                        </div>
                        <div class="home-container6">
                            <span class="home-title2">Добавь немного поэзии</span>
                            <span class="home-text26">
                    <span class="home-text27">
                      Выбери тот отрывок отечественных поэтов о
                      Санкт-Петербурге, который нравится тебе больше всего.
                    </span>
                    <br/>
                  </span>
                        </div>
                    </div>
                    <div class="home-step2">
                        <div class="home-number2">
                            <span class="home-text29">3</span>
                        </div>
                        <div class="home-container7">
                            <span class="home-title3">Наслаждайся уникальностью</span>
                            <span class="home-text30">
                    Получи свой уникальный мерч, которого нет ни у кого.
                    Генерировать можно сколько угодно, пока не получится что-то
                    близкое именно тебе!
                  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-section3 section-container">
            <div class="home-max-width5 max-width"></div>
            <div class="home-testimonial">
                <h1 class="home-text31">Наша команда</h1>
                <div class="home-container8">
                    <header
                            class="testimonial-card3-testimonial-card testimonial-card3-root-class-name"
                    >
                        <svg viewBox="0 0 1024 1024" class="testimonial-card3-icon">
                            <path
                                    d="M800 640c-123.712 0-224-100.29-224-224 0-123.712 100.288-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.634-11.636 22.252-24.016 31.83-37.020-11.438 1.8-23.16 2.746-35.104 2.746zM224 640c-123.71 0-224-100.29-224-224 0-123.712 100.29-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.636-11.636 22.254-24.016 31.832-37.020-11.44 1.8-23.16 2.746-35.106 2.746z"
                            ></path>
                        </svg>
                        <div class="testimonial-card3-testimonial">
                            <span class="testimonial-card3-text"><span>Рэпер</span></span>
                            <img
                                    alt="profile"
                                    src="static/styles/public/playground_assets/my_photo-200w.jpg"
                                    class="testimonial-card3-image"
                            />
                        </div>
                        <span class="testimonial-card3-text1">
                  <span>Гринкевич Павел</span>
                </span>
                    </header>
                    <header
                            class="testimonial-card3-testimonial-card testimonial-card3-root-class-name"
                    >
                        <svg viewBox="0 0 1024 1024" class="testimonial-card3-icon">
                            <path
                                    d="M800 640c-123.712 0-224-100.29-224-224 0-123.712 100.288-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.634-11.636 22.252-24.016 31.83-37.020-11.438 1.8-23.16 2.746-35.104 2.746zM224 640c-123.71 0-224-100.29-224-224 0-123.712 100.29-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.636-11.636 22.254-24.016 31.832-37.020-11.44 1.8-23.16 2.746-35.106 2.746z"
                            ></path>
                        </svg>
                        <div class="testimonial-card3-testimonial">
                            <span class="testimonial-card3-text"><span>Рэпер</span></span>
                            <img
                                    alt="profile"
                                    src="static/styles/public/playground_assets/lyudmila-200h.jpg"
                                    class="testimonial-card3-image"
                            />
                        </div>
                        <span class="testimonial-card3-text1">
                  <span>Сбитнева Людмила</span>
                </span>
                    </header>
                    <header
                            class="testimonial-card3-testimonial-card testimonial-card3-root-class-name"
                    >
                        <svg viewBox="0 0 1024 1024" class="testimonial-card3-icon">
                            <path
                                    d="M800 640c-123.712 0-224-100.29-224-224 0-123.712 100.288-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.634-11.636 22.252-24.016 31.83-37.020-11.438 1.8-23.16 2.746-35.104 2.746zM224 640c-123.71 0-224-100.29-224-224 0-123.712 100.29-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.636-11.636 22.254-24.016 31.832-37.020-11.44 1.8-23.16 2.746-35.106 2.746z"
                            ></path>
                        </svg>
                        <div class="testimonial-card3-testimonial">
                            <span class="testimonial-card3-text"><span>Рэпер</span></span>
                            <img
                                    alt="profile"
                                    src="static/styles/public/playground_assets/diana-200h.jpg"
                                    class="testimonial-card3-image"
                            />
                        </div>
                        <span class="testimonial-card3-text1">
                  <span>Васильева Диана</span>
                </span>
                    </header>
                    <header
                            class="testimonial-card3-testimonial-card testimonial-card3-root-class-name1"
                    >
                        <svg viewBox="0 0 1024 1024" class="testimonial-card3-icon">
                            <path
                                    d="M800 640c-123.712 0-224-100.29-224-224 0-123.712 100.288-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.634-11.636 22.252-24.016 31.83-37.020-11.438 1.8-23.16 2.746-35.104 2.746zM224 640c-123.71 0-224-100.29-224-224 0-123.712 100.29-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.636-11.636 22.254-24.016 31.832-37.020-11.44 1.8-23.16 2.746-35.106 2.746z"
                            ></path>
                        </svg>
                        <div class="testimonial-card3-testimonial">
                            <span class="testimonial-card3-text"><span>Рэпер</span></span>
                            <img
                                    alt="profile"
                                    src="static/styles/public/playground_assets/vsevolod-200h.jpg"
                                    class="testimonial-card3-image"
                            />
                        </div>
                        <span class="testimonial-card3-text1">
                  <span>Власов Всеволод</span>
                </span>
                    </header>
                </div>
            </div>
        </div>
        <footer class="home-footer">
            <img
                    alt="logo"
                    src="static/styles/public/playground_assets/ath_white.svg"
                    class="home-image07"
            />
            <img
                    alt="image"
                    src="static/styles/public/playground_assets/_234.svg"
                    class="home-image08"
            />
            <span class="home-text32">© 2022 GenLogo, All Rights Reserved.</span>
            <div class="home-icon-group">
                <img
                        alt="image"
                        src="static/styles/public/playground_assets/icons8-telegram.svg"
                        class="home-image09"
                />
            </div>
        </footer>
    </div>
</div>
<script>
    window.onload = () => {
        const runAllScripts = () => {
            initializeAllAccordions()
        }

        const listenForUrlChanges = () => {
            let url = location.href
            document.body.addEventListener(
                'click',
                () => {
                    requestAnimationFrame(() => {
                        if (url !== location.href) {
                            runAllScripts()
                            url = location.href
                        }
                    })
                },
                true
            )
        }

        const initializeAllAccordions = () => {
            const allAccordions = document.querySelectorAll('[data-role="Accordion"]');

            allAccordions.forEach((accordion) => {
                const accordionHeader = accordion.querySelector('[data-type="accordion-header"]')
                const accordionContent = accordion.querySelector('[data-type="accordion-content"]')

                accordionHeader.addEventListener('click', () => {
                    if (accordionContent.style.maxHeight) {
                        accordionContent.style.maxHeight = ''
                    } else {
                        accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`
                    }
                })
            })
        }

        listenForUrlChanges()
        runAllScripts()
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).on('submit','#voting_form',function(e)
                   {
       let selected = $("input[type='radio'][name='option1']:checked");
       let selectedValue = selected.attr("value");
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/',
        data:{
          logo_number:selectedValue
        },
        success:function()
        {
          $("input[type='radio'][name='option1']:not(:checked)").each(function (index) {
              console.log( $( this ) );
              $( this ).parent().style.display = "none";
          });
          document.getElementById("vote-button").style.display = "none";
        }
      })
    });
  </script>
</body>
</html>
